h1{
    color: #ffffff;
}
.grid{
    display:flex;
    flex-wrap: wrap;
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami{
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    margin: 25px;
    width: 20px;
    font-family: fantasy;
}
.menu{
    display:flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}
h2,p{
    text-align: center;
}
a:link{
    color:mediumblue
}
a:visited{
    color:darkgreen;
}
body{
    margin: 0px;
    background-color: #ffffe0
}
.origami:hover{
    transform: scale(1.2);
}
.bodyimg{
    position: relative;
}
.bodyimg p{
    color: mistyrose;
    font-size: 55px;
    font-family: fantasy;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}